body {
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

#container {
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 4px;
    padding: 4px;
    max-width: 600px;
    height: 500px;
}

.row {
    background-color: rgb(35, 35, 35);
    border: 1px solid rgb(65, 65, 65);
}

.row:hover {
    background-color: rgb(45, 45, 45);
}